*{
     margin: 0;
     padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9039b9;
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem{
    width: 100%;
}

body{
   display: flex;
   flex-direction:column ;
   min-height: 100vh;
   background-color: #bb84ad;
}

main{
    flex: 1;
    
}

.cabecalho-link{
    color: #fff;
    text-decoration: none;
}

h1{
    color: #c298be;
    font-size: 24px;
}

footer{
    background-color: #896565;
    padding: 15px 25px;
    color: #fff;
}

.cartão-interno{
    position: relative;
}

    .cartão-frente,.cartão-verso {
        position: absolute;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(rgb(213, 155, 155), rgb(143, 189, 143), rgb(91, 91, 162), alpha);
         backface-visibility: hidden;
 }

 .cartão-verso{
    transform: rotateY(180deg);
 }